<form action="/send_comment" method="POST" onsubmit="return check(this)">
  <p>Kommentti:</p>
  <p>
    <textarea name="content" rows="6" cols="60"></textarea>
    <br />
  </p>
  <input type="hidden" value="{{ id }}" name="id" />
  <input type="submit" value="Luo uusi kommentti" />
</form>

<a style="color: black" href="/spots_main">Takaisin karttanäkymään</a>
<a style="color: black" href="/show_spot_comments/{{ id }}">/ kommentteihin</a>

<a style="color: black" href="/show_spot_details/{{ id }}">/ kohteen sivulle</a>

<script>
  function check(form) {
    if (form.content.value.length > 5000) {
      alert("Kommentti on liian pitkä");
      return false;
    }
    return true;
  }
</script>
