<style>
  .register tr {
    line-height: 1.5em;
    font-size: 1.1em;
  }
</style>

<div class="register">
  <form action="/register" method="post" onsubmit="return check(this)">
    <table>
      <tr>
        <td>Kayttajatunnus:</td>
        <td><input type="text" name="username" /></td>
      </tr>
      <tr>
        <td>Salasana:</td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr></tr>
      <tr>
        <td>
          <input
            style="font-size: 0.8em; margin-top: 1em"
            type="submit"
            value="Luo käyttäjätili"
          />
        </td>
      </tr>
    </table>
  </form>
  <hr />
  <p>
    <a style="color: black" href="/login">Takaisin kirjautumissivulle</a>
  </p>
</div>

<script>
  function check(form) {
    if (form.username.value.length < 4) {
      alert("Käyttäjänimen tulee olla vähintään neljä (4) merkkiä pitkä.");
      return false;
    }
    if (form.password.value.length < 6) {
      alert("Salasanan tulee olla vähintään kuusi (6) merkkiä pitkä.");
      return false;
    }
    return true;
  }
</script>
