<form action="/register" method="post" onsubmit="return check(this)">
  Kayttajatunnus: <input type="text" name="username" />
  <p>Salasana: <input type="password" name="password" /></p>

  <p>
    <input type="submit" value="Luo käyttäjätili" />
  </p>
</form>

<p>
  <a href="/login">Takaisin kirjautumissivulle</a>
</p>

<script>
  function check(form) {
    if (form.username.value.length < 4) {
      alert("Käyttäjänimen tulee olla vähintään neljä (4) merkkiä pitkä.");
      return false;
    }
    if (form.password.value.length < 6) {
      alert("Salasanan tulee olla vähintään kuusi (6) merkkiä pitkä.");
      return false;
    }
    return true;
  }
</script>
