<!DOCTYPE html>
<html>
  <style>
    .comments {
      width: 50%;
      margin-bottom: 20px;
      border-bottom: 1px solid;
    }
    img {
      width: 60%;
      height: 60%;
      object-fit: contain;
    }
  </style>

  <body>
    <a style="color: black" href="/spots_main"> Takaisin karttanäkymään</a
    ><br />
    <br />
    <hr />

    <b>Nimi:</b> {{ spot.name }}
    <p><b>Tyyppi:</b> {{ spot.spot_type }}</p>

    <p><b>Kuvaus:</b> {{ spot.description }}</p>

    <p><b>Vaikeusaste:</b> {{ spot.difficulty }}</p>

    <section>
      <b>Koordinaatit:</b>

      <div>
        <p>Leveysaste (latitude):<br />{{ spot.latitude }}</p>
        <p>Pituusaste (longitude):<br />{{ spot.longitude }}</p>
      </div>
    </section>
    <p><b>Lisätty:</b> {{ spot.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}</p>

    <!-- Show image link if spot contains images -->

    <hr />

    {% if spot.has_image == True %}

    <b>Kohteen kuva:</b>

    <p><img id="picture" src="/spot_image/{{ spot.id }}" /></p>

    {% else %}
    <p>
      <a style="color: black" href="/add_image_to_spot/{{ spot.id }}">
        Lisää kohteeseen kuva.</a
      >
    </p>
    <hr />

    {% endif %} {% if (comments is defined) and comments %}

    <b>Kohteesta jätetyt kommentit:</b>

    {% for comment in comments %}
    <div class="comments">
      <p>{{ comment[2] }} ({{ comment[1].strftime("%Y-%m-%d %H:%M") }}):</p>
      <p><i>{{ comment[0] }}</i></p>
    </div>
    {% endfor %} {% endif %}

    <a style="color: black" href="/add_spot_comment/{{ spot.id }}">
      Lisää uusi kommentti</a
    >
  </body>
</html>
