<html>
  <style>
    div {
      width: 50%;
      margin-bottom: 20px;
      border-bottom: 1px solid;
    }
    img {
      width: 60%;
      height: 60%;
      object-fit: contain;
    }
  </style>
  <body>
    <a style="color: black" href="/spots_main"> Takaisin spotteihin</a><br />
    <br />
    <a style="color: black" href="/add_spot_comment/{{ id }}">
      Lisää uusi kommentti</a
    ><br />
    <br />
    <h3>Viimeisimmät kommentit:</h3>
    <hr />
    {% for comment in comments %}
    <div>
      <p>{{ comment[2] }} ({{ comment[1].strftime("%Y-%m-%d %H:%M") }}):</p>
      <p><i>{{ comment[0] }}</i></p>
    </div>
    {% endfor %}
  </body>
</html>
