<!DOCTYPE html>
<html>
  <style>
    p {
      font-size: 100%;
    }
  </style>

  <head>
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_dW2ZKqFJq85ClOZpE06hHh8FMQpwPTo&callback=initMap&libraries=&v=weekly"
      async
    ></script>

    <!-- Spot list to JSON objects -->

    <script type="text/javascript">
      const SPOT_LIST = {{ spotsJson|tojson|safe }}
      const spotsJsonObject = JSON.parse(SPOT_LIST)
    </script>

    <script>
      let map;
      let marker;
      let infowindow;

      // Initialize and add the map
      function initMap() {
        const helsinki = { lat: 60.169857, lng: 24.938379 };

        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: helsinki,
        });

        infowindow = new google.maps.InfoWindow();

        // Place mtb spot marker in initial position

        spotsJsonObject.forEach((spot) => {
          marker = new google.maps.Marker({
            position: {
              lat: spot.latitude,
              lng: spot.longitude,
            },
            map: map,
            title: spot.name,
          });

          // Place infowindow in marker location
          // Infowindow contans metadata of the spot

          marker.addListener("click", () => {
            infowindow.setPosition({ lat: spot.latitude, lng: spot.longitude });
            infowindow.setContent(`
            Nimi: ${spot.name}<br><br>
            Tyyppi: ${spot.spot_type}<br>
            Kuvaus: ${spot.description}<br>
            Koordinaatit: (${spot.latitude}, ${spot.longitude})<br>
            Vaikeusaste: ${spot.difficulty}
            `);
            infowindow.setOptions({
              pixelOffset: new google.maps.Size(0, -35),
            });
            infowindow.open(map);
          });
        });
      }
    </script>
  </head>

  <body>
    <div id="map"></div>

    <p>
      <a href="/add_spot">Lisää uusi jännyyspaikka</a>
    </p>

    <p>
      <a href="/">Takaisin etusivulle</a>
    </p>

    <h3>Palveluun lisätyt jännyyspaikat:</h3>
    <hr />

    {% for spot in spots %}
    <b>Nimi:</b> {{ spot.name }}
    <p><b>Tyyppi:</b> {{ spot.spot_type }}</p>

    <p><b>Kuvaus:</b> {{ spot.description }}</p>

    <p><b>Vaikeusaste:</b> {{ spot.difficulty }}</p>

    <section>
      <b>Koordinaatit:</b>

      <div>
        <p>Leveysaste (latitude):<br />{{ spot.latitude }}</p>
        <p>Pituusaste (longitude):<br />{{ spot.longitude }}</p>
      </div>
    </section>
    <p><b>Lisätty:</b> {{ spot.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}</p>

    <!-- Show image link if spot contains images -->

    {% if spot.has_image == True %}
    <p>
      <b>Katso</b> spotin <a href="/show_spot_image/{{ spot.id }}">kuva</a> ja
      spotin
      <a href="/show_spot_comments/{{ spot.id }}"> kommentit.</a>
    </p>
    {% endif %}

    <!-- Show remove spot button if admin -->
    {% if admin == True %}
    <form action="/spots_main" method="post">
      <input type="hidden" value="{{spot.id}}" name="spot_id" />
      <input type="submit" value="Poista spotti" />
    </form>
    <br />
    {% endif %}
    <hr />
    {% endfor %}
  </body>
</html>
